<!-- <button (click)="listen()">
  Get notified!
</button> -->
<div *ngIf="fireAuth.user | async as user; else showLogin">
  <h2>Hello {{ user.displayName }}!</h2>
  <button class="logout-btn" (click)="logout()">Logout</button>
  <button (click)="requestPermission()">
    Yes, send me notifications about new things!
  </button>
  <button (click)="deleteMyToken()">
    Delete my token plz
  </button>
  <div>
    <input [(ngModel)]="new_message" (keyup.enter)="send(user.displayName)" />
  </div>
  <div class="msg-container">
    <app-message
      *ngFor="let msg of (all_messages | async)"
      [message]="msg"
      [userAuth]="user.displayName"
    ></app-message>
  </div>
</div>
<ng-template #showLogin>
  <p>You can login here.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<router-outlet></router-outlet>
